@import 'colors';
@import 'grab-cursor';

html,
body {
  color: $white;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
}

.draggable-content {
  @include grab-cursor();
  background-color: $blue;
  height: 200px;
  width: 300px;

  &:active {
    @include grab-cursor-active();
  }
}
